aiodns==2.0.0
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
ccxt==1.38.20
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
constantly==15.1.0
cryptography==3.2.1
dateparser==1.0.0
hyperlink==20.0.1
idna==2.10
idna-ssl==1.1.0
incremental==17.5.0
multidict==5.0.2
numpy==1.19.4
pandas==1.1.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-binance==0.7.5
python-dateutil==2.8.1
pytz==2020.4
regex==2020.11.13
requests==2.25.0
schedule==0.6.0
service-identity==18.1.0
six==1.15.0
Twisted==20.3.0
txaio==20.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
yarl==1.1.0
zope.interface==5.2.0
