<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.17/vuetify.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.3.17/vuetify.min.js"></script>
    <style>
        nav {
            z-index: 10000;
        }

        .nav-wrapper{
            padding: 20px ;
        }

        .container-list{
            margin-left: 50px;
            margin-right: 50px;
        }

        .btn-container{
            margin-top: 30px;
            padding: 20px;
        }

        .table-container{
            margin: auto;
            padding: auto;
        }
    </style>
    {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper" style="background-color:black;height:100px">
          <a href="#" class="brand-logo right" style="margin-right: 30px;">EZ4H SIGNALS</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a style="font-size: larger;" href="/start_screener">YOUR HOLDING</a></li>
            <li><a style="font-size: larger;" href="/start_screener_all">BUYING SIGNAL</a></li>
            <li><a style="font-size: larger;" href="collapsible.html">ABOUT</a></li>
          </ul>
        </div>
      </nav>
    <div style="height:100vh;width:100vw">
        {% block body %}
        {% endblock %}
    </div>
   
</body>
</html>