{% extends "base.html" %}
{% block body %}

<div class="container">
  <div class="row valign-wrapper center-align" style="height:70vh;" >
    <div class="col center-align z-depth-2 container-list">
      <div class="img-preview">
        <img src="/templates/stock-market.png" alt="">
      </div>
      <h2>Assets</h2>
      <p>Performance of your asset in Binance Exchange</p>
      <h6>*You must be wait about 30sec before access this page</h6>
      <div class="btn-container">
        <a class="waves-effect waves-light btn" href="/start_screener_all"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
      <!-- Promo Content 2 goes here -->
    </div>
    <div class="col center-align z-depth-2 container-list ">
      <!-- Promo Content 1 goes here -->
      <div class="img-preview">
        <img src="{{url_for('static', filename='images/stock-market.png')}}" alt="">
      </div>
      <h2>Signals</h2>
      <p>4hour time frame trading signal strategy</p>
      <h6>*Signals Analyze about 3-4min before access this page</h6>
      <div class="btn-container">
        <a class="waves-effect waves-light btn " href="/start_screener"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
    </div>
    <div class="col center-align z-depth-2 container-list">
      <div class="img-preview">
        <img src="/templates/stock-market.png" alt="">
      </div>
      <h2>Bot Trade</h2>
      <p>Mornitoring Your Asset with automation robot with easy signal</p>
      <h6>*not yet perform on develope</h6>
      <div class="btn-container">
        <a class="waves-effect waves-light btn" href="/"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
      <!-- Promo Content 3 goes here -->
    </div>

  </div>
</div>

<script>
  
</script>

{% endblock %}