{% extends "base.html" %}
{% block body %}

<div class="container">
  <h3 style="display:flex;justify-content: center;">Select Menu </h3>
  <div class="row valign-wrapper center-align" style="height:60vh;" >
    <div class="col center-align z-depth-2 container-list">
      <div class="img-preview">
        <img src="/templates/stock-market.png" alt="">
      </div>
      <h1>Assets</h1>
      <h5>Performance of your asset in Binance Exchange</h5>
      <p>*You must be wait about 30sec before access this page</p>
      <div class="btn-container">
        <a class="waves-effect waves-light btn" href="/start_screener_all"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
      <!-- Promo Content 2 goes here -->
    </div>
    <div class="col center-align z-depth-2 container-list ">
      <!-- Promo Content 1 goes here -->
      <div class="img-preview">
        <img src="{{url_for('static', filename='stock-market.png')}}" alt="">
      </div>
      <h1>Signals</h1>
      <h5>4hour time frame trading signal strategy</h5>
      <p>*Signals Analyze you need to wait about 3-4 min before access this page</p>
      <div class="btn-container">
        <a class="waves-effect waves-light btn " href="/start_screener"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
    </div>
    <div class="col center-align z-depth-2 container-list">
      <div class="img-preview">
        <img src="/templates/stock-market.png" alt="">
      </div>
      <h1>Bot Trade</h1>
      <h5>Mornitoring Your Asset with automation robot </h5>
      <p>*not yet perform on develope</p>
      <div class="btn-container">
        <a class="waves-effect waves-light btn" href="/"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
      <!-- Promo Content 3 goes here -->
    </div>

  </div>
</div>

<script>
  
</script>

{% endblock %}