{% extends "base.html" %}
{% block body %}

<div class="container">
  <div class="row valign-wrapper" style="height:60vh;" >

    <div class="col s4 center-align z-depth-2 container-list ">
      <!-- Promo Content 1 goes here -->
      <div class="img-preview">
        <img src="{{url_for('static', filename='images/stock-market.png')}}" alt="">
      </div>
      <h2>Signals</h2>
      <p>4hour time frame trading signal strategy</p>
      <div class="btn-container">
        <a class="waves-effect waves-light btn "><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
    </div>
    <div class="col s4 center-align z-depth-2 container-list">
      <div class="img-preview">
        <img src="/templates/stock-market.png" alt="">
      </div>
      <h2>Assets</h2>
      <p>Performance of your asset in Binance Exchange</p>
      <div class="btn-container">
        <a class="waves-effect waves-light btn"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
      <!-- Promo Content 2 goes here -->
    </div>
    <div class="col s4 center-align z-depth-2 container-list">
      <div class="img-preview">
        <img src="/templates/stock-market.png" alt="">
      </div>
      <h2>All Tickers</h2>
      <p>list all buy sell signal recommendations</p>
      <div class="btn-container">
        <a class="waves-effect waves-light btn"><i class="material-icons left">remove_red_eye</i>button</a>
      </div>
      <!-- Promo Content 3 goes here -->
    </div>

  </div>
</div>

{% endblock %}